:root{
    --font-principal:'Poppins';
    --backgrond-principal:#000;
    --text-color: #FFFFFF;
    --border-hover:#9F52FD;
    --button-linear-gradient:linear-gradient(210deg, #9F52FD, #522985);
    --button-linear-gradient-hover:linear-gradient(80deg, #9F52FD, #522985);
    --background-button-opacity:rgba(82,41,133,0.5);
    --text-secondary:#522985;
    --color-border:#9F52FD;
    --background-opacity:linear-gradient(360deg, rgba(0,0,0,2), rgb(0,0,0,0.3));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: var(--font-principal);
    background-color: var(--backgrond-principal);
}
/* Header */
.cabecalho{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width-conainer);
    padding: 0 5%;
    z-index: 999;
    height: 150px;
}
.nav-item .active{
    background: var(--button-linear-gradient);
}
.nav-item .active:hover{
    background: var(--button-linear-gradient-hover);
}
.nav-link{
    color: var(--text-color);
}
.nav-link:hover{
    color: var(--border-hover);
}
/* Header */
.banner__container{
    width: 100%;
    height: auto;
    background-image: url(/img/Banner-15.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
    color:var(--text-color);
}
.banner__opacity__container{
    background:var(--background-opacity);
    width: 100%;
    height: 200%;
    padding-bottom: 7%;
}
.banner__title{
    width: 100%;
    position: relative;
}
.conversa__negocio{
    border: 1px solid var(--color-border);
    background-color:var(--background-button-opacity);
    border-radius: 25px;
    max-width: 500px;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    margin: 2em 20%;
}
.carroseul__slide-container{
    width: 60%;
    margin: 1em;
    left: 10em;
}
.carousel-item-title{
    font-size:45px;
    font-weight: 700;
    padding-bottom: 0.5em;
}
.carousel-item-text{
    font-size: 16px;
    font-weight: 400;
    padding-left: 2%;
    max-width: 80%;
}
.banner__button-container{
    width: 100%;
    position: relative;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
}
.button-container__link{
    background:var(--button-linear-gradient) ;
    padding: 0.8vh 3vw;
    border-radius: 20px;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}
.button-container__link:hover{
    background: var(--button-linear-gradient-hover);
    color: var(--text-color);
    text-decoration: none;
}
.button-container__text{
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 1em;
    color: var(--color-border);
}
/* Services */
.services__container{
    width: 1280px;
    margin: 0 auto;

}
.services__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.services__icon-text{
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    border: 1px solid var(--color-border);
    background: var(--background-button-opacity);
    border-radius: 25px;
}
.services__description-container{
    max-width: 1000px;
    margin: 0 auto;
}
.service__title,.service__text{
    color: var(--text-color);
    text-align: center;
}
.service__title{
    font-size: 45px;
    text-align: center;
}
.service__text{
    margin: 0 auto;
    max-width: 800PX;
    font-size: 16px;
    font-weight: 300;
}
.services__wraper-container{
    max-width: 1280px;
    margin: 20px auto;
}
.card-deck{
    padding: 2%;
}
.card{
    background: var(--backgrond-principal);
    border: 1px solid var(--color-border);
    padding: 2em;
}
.card-icon{
    font-size: 75px;
}
.card-icon, .card-text-footer a{
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
}

.card-text-footer a{
    font-size: 16px;
}
.card-text-footer a:hover{
    color: var(--border-hover);
}
.card-body{
    color: var(--text-color);
}
.card-title{
    font-weight: 600;
}
.card-text{
    font-weight: 300;
}
/* Services */
/* Destaque-projects */
.projects__container{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
}
.projects__title{
    font-size: 45px;
    font-weight: 700;
}
.call__to-action-container{
    width: 1280px;
    margin: 0 auto;
}
.card-call-to-me{
border: 2px sold red;
}